.sheet-container {
    position: relative;
    background-image: url(https://raw.github.com/milostuff/black-label-sheet/main/doodles.png), 
    url(https://raw.github.com/milostuff/black-label-sheet/main/paper.jpg);
    background-size: contain;
    border: solid 5px;
    padding: 10px;

    font-family: Georgia, serif; 
}

.main-content {

    max-width: fit-content;

}

/* === GENERAL === */
.sheet-rolltemplate-level .sheet-header,
.sheet-rolltemplate-weapons .sheet-header,
.sheet-rolltemplate-inventory .sheet-header,
.sheet-rolltemplate-skill .sheet-header,
.sheet-rolltemplate-bonuses .sheet-header,
.sheet-rolltemplate-keywords .sheet-header,
.sheet-rolltemplate-consequence .sheet-header,
.sheet-header {
    margin-bottom: 4px;
    padding: 2px 8px;
    background: black;
    color: white;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sheet-rolltemplate-level .sheet-inlineLabel,
.sheet-rolltemplate-weapons .sheet-inlineLabel,
.sheet-rolltemplate-inventory .sheet-inlineLabel,
.sheet-rolltemplate-skill .sheet-inlineLabel,
.sheet-rolltemplate-bonuses .sheet-inlineLabel,
.sheet-rolltemplate-keywords .sheet-inlineLabel,
.sheet-rolltemplate-consequence .sheet-inlineLabel,
.sheet-inlineLabel{
    font-weight: bold;
    padding-left: 10px;
}

.sheet-section {
    float: left;
    width: 100%;
    margin: 4px 0;
    padding-left: 5px;
    box-sizing: border-box;
}

.sheet-container label{
    color: black;
}

.sheet-half {
    max-width: 50%;
}

.sheet-quarter {
    max-width: 25%;
}

.sheet-threequarters {
    max-width: 75%;
}

.sheet-hidden {
    display: none;
}

.sheet-keep-whitespace {
    white-space: pre-wrap;
}

.sheet-break {
    clear: both;
}

label,
select {
    margin: 0;
}

textarea {
    margin: 0;
    width: 100%;
    height: 200px;
    resize: vertical;
    box-sizing: border-box;
}

.sheet-repitem,
.repitem {
    margin-bottom: 5px;
}

.sheet-small-button {
    font-size: 9px !important;
}

.sheet-action-button {
    font-size: 12px !important;
}

.sheet-header-button {
    font-size: 18px !important;
}

button[type=roll] {
    display: block;
    background-color: transparent;
    color: black;
    border: none;
    line-height: 12px;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    text-align: left;
}

button[type=roll] * {
    pointer-events: none;
}

button[type=roll]::before {
    display: none !important;
}

.sheet-section-options button[type="action"] {
    background-color: transparent;
    color: #A0A0A0;
    border: none;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    font-size: 20px;
    font-family: pictos;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
}

.sheet-section-options,
.sheet-hint-options,
.sheet-item-options {
    float: right;
    width: 18px;
    position: relative;
}

.sheet-section-options-flag,
.sheet-hint-options-flag,
.sheet-item-options-flag,
.sheet-item-options-flag2 {
    opacity: 0;
    cursor: pointer;
    width: 18px;
    height: 18px;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
}

.sheet-section-options-flag + span,
.sheet-hint-options-flag + span,
.sheet-item-options-flag + span,
.sheet-item-options-flag2 + span {
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    font-size: 20px;
    font-family: pictos;
    color: #A0A0A0;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
}

.sheet-item-options-flag2,
.sheet-item-options-flag2 + span {
    right: 20px;
}

.sheet-section-options-flag:checked + span {
    color: white;
}

.sheet-hint-options-flag:checked + span,
.sheet-item-options-flag:checked + span,
.sheet-item-options-flag2:checked + span {
    color: black;
}

.sheet-options,
.sheet-inline-options,
.sheet-hint,
.sheet-options-flag:checked ~ .sheet-display,
.sheet-rollable-flag-true{
    display: none;
}

.sheet-display,
.sheet-hints-flag:checked ~ .sheet-hint,
.sheet-options-flag:checked ~ .sheet-options,
.sheet-rollable-flag-false{
    display: block;
}

.sheet-inline-display,
.sheet-options-flag:checked ~ .sheet-inline-options {
    display: inline-block;
}

.sheet-tooltip {
    position: relative;
    display: inline-block;
}

.sheet-tooltip .sheet-tooltipText {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -150px;
    opacity: 0;
    transition: opacity 0.3s;
}

.sheet-tooltip .sheet-tooltipText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.sheet-tooltip:hover .sheet-tooltipText {
    visibility: visible;
    opacity: 1;
}

/* === BASIC === */

.sheet-section-basic input[type="number"] {
    width: 100px !important;
}

.sheet-section-basic .sheet-column {
    width: calc(50% - 200px);
}

.sheet-large-number {
    font-size: 30px;
}

.sheet-right-buttons {
    margin-right: 45px;
}

.sheet-short-description {
    max-height: 150px;
    overflow: hidden;
}

.sheet-hint {
    border-width: 2px;
    border-color: black;
    border-style: inset;
    background-color: lightyellow;
}

.sheet-hint-icon {
    width: 18px;
    font-family: pictos;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.sheet-hint-content {
    width: calc(100% - 40px);
    display: inline-block;
}


/* === MECHANICS === */

.sheet-section-mechanics{
    width: 100%;
    height: 550px;
    background-image: url("https://raw.github.com/milostuff/black-label-sheet/main/stroke2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.sheet-section-mechanics input[type=number]{
    height: 40px;
    width: 20%;
    text-align: center;
    font-size: large;
}

.mechanics-container{
    border-style: transparent;
    position: relative;
}

.mechanics-container input[type="number"]{
    position: absolute; 
    top: 65px;
    left: 55px;
    width: 40px;
}

.circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    border-style: solid;
    position: absolute;
    top: 95px;
    left: 90px
}
.circle input[type="number"]{
    font-size: smaller;
    border: none;
    background: none;
    position: absolute; 
    left: 2px;
    top: -5px;
}

/* === Id === */
.sheet-section-id {
    width: calc(100% - 215px);
}

.sheet-section-id input {
    width: 100%;
    box-sizing: border-box;
}

.sheet-section-id textarea {
    height: 64px;
}

.sheet-section-id-info {
    max-width: 100%;
}

.sheet-section-id-level {
    display: none;
    max-width: 65px;
    float: right;
}

.sheet-section-id-level input {
    width: 100% !important;
    text-align: center;
}

.sheet-level-flag:checked ~ .sheet-section-id-info {
    max-width: calc(100% - 75px);
}

.sheet-level-flag:checked ~ .sheet-section-id-level {
    display: block;
}

.sheet-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Increased gap for more breathing room */
    margin-bottom: 15px;
}

.sheet-col {
    flex: 1;
    min-width: 150px; /* Adjusted for slightly larger inputs */
    display: flex;
    flex-direction: column;
}

/* === STATS AND SKILLS === */

.sheet-section-skills{
    border: 15px solid transparent;
    border-image: url("https://raw.github.com/milostuff/black-label-sheet/main/border.png") 30;
    background-image: url("https://raw.github.com/milostuff/black-label-sheet/main/sheets.png");
    background-size: 200px
}

.sheet-section-skills .sheet-col{
   align-items: center; 
   justify-content: center;
}

.section-skills{
    width: 100%;
}

.stat-header{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    text-align: center;
    width:100%;
}

.stat-header input[type=number]{
    text-align: center;
    width: 20px; 
    box-sizing: border-box; 
    border: transparent; 
    background-color: transparent;
}

.stat-header input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button{ 
  -webkit-appearance: none; 
  margin: 0; 
}

.container-skill {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 2px 1px;
    padding: 20px;
}

.container-skill input[type="number"]{
    width: 30px;
}

/* === ROLLS === */

.weapon-damage button{
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-wrap: wrap;
    text-align: center;
    font-size: 12px;
}

.primary-weapon{
    padding-top: 20px;
    padding-bottom: 10px
}


.d12 img{
    border-bottom: 5px solid transparent;
    border-image: url("https://raw.github.com/milostuff/black-label-sheet/main/border.png") 30;
    padding-bottom: 20px;
    width: 150px;
}


/* === STRESS === */

.sheet-status-header{
    width: 100%;
    font-weight: bold;
    font-size: 125%;
}

.sheet-status{
    border: 10px solid transparent;
    border-image: url("https://raw.github.com/milostuff/black-label-sheet/main/border.png") 30;
    background-image: url("https://raw.github.com/milostuff/black-label-sheet/main/sheets.png");
    background-size: 200px;
    position: relative;
    align-items: center;
    justify-content: center;

}

.sheet-stress{
    width: 100%;
    height: 150px;
    background-image: url("https://raw.github.com/milostuff/black-label-sheet/main/stress.png");
    background-size: 100px;
    background-repeat: no-repeat;
    text-align: right;
    border: 5px solid transparent;
    border-image: url("https://raw.github.com/milostuff/black-label-sheet/main/border.png") 30;
}

.sheet-stress .sheet-status-header{
    padding-top: 90px;
}


.sheet-sanity{
    width: 100%;
    height: 150px;
    background-image: url("https://raw.github.com/milostuff/black-label-sheet/main/sanity.png");
    background-size: 85px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    border: 5px solid transparent;
    border-image: url("https://raw.github.com/milostuff/black-label-sheet/main/border.png") 30;
}

.sheet-enlightenment{
    align-items: center;
    padding: 10px;
    text-align: center;
}


.sheet-status-row input[type="checkbox"][value="1"],
.sheet-status-row input[type="checkbox"][value="2"],
.sheet-status-row input[type="checkbox"][value="3"],
.sheet-status-row input[type="checkbox"][value="4"]{
    display: inline-block;
    zoom: 150%;
    margin-right: 5px;
    margin-top: 2.5px;
}

.sheet-status-row input[type="checkbox"]::before {
    margin-left: -2.5px;
    top: -5px;
    position: relative;
    font-weight: bold;
}

.sheet-status-row input[type="checkbox"][value="1"]::before {
    content: "1";
}

.sheet-status-row input[type="checkbox"][value="2"]::before {
    content: "2";
}

.sheet-status-row input[type="checkbox"][value="3"]::before {
    content: "3";
}

.sheet-status-row input[type="checkbox"][value="4"]::before {
    content: "4";
}

.sheet-status-row input[type="checkbox"][value="5"]::before {
    content: "5";
}

.sheet-status-row input[type="checkbox"][value="6"]::before {
    content: "6";
}

.sheet-status-row input[type="checkbox"][value="7"]::before {
    content: "7";
}

.sheet-status-row input[type="checkbox"][value="8"]::before {
    content: "8";
}

/* === CONSEQUENCES === */
.sheet-section-conditions,
.sheet-section-consequences {
    padding-left: 2.5px;
}

.sheet-section-consequences select {
    width: 100px;
}

.sheet-section-consequences input[type="text"] {
    margin-left: 2px;
}

.sheet-worth-value {
    position: relative;
    top: -0.5em;
}

.sheet-conditions-row .sheet-worth-value {
    position: relative;
    top: -0.25em;
    right: -0.5em;
    font-weight: bold;
}

.sheet-worth-text {
    margin-left: -3px !important;
}

.sheet-consequence-worth {
    width: 90px;
    display: inline-block;
}

.sheet-conditions-row .sheet-consequence-worth {
    width: 35px;
}

.sheet-section-conditions,
.sheet-conditions-flag:checked ~ .sheet-section-consequences {
    display: none;
}

.sheet-conditions-flag:checked ~ .sheet-section-conditions {
    display: block;
}

.sheet-conditions-row,
.sheet-consequence-row {
    display: flex;
    align-items: center;
}

.sheet-display .sheet-conditions-row,
.sheet-section-conditions .sheet-display .repcontrol[data-groupname="repeating_consequences"] {
    display: none;
}

.sheet-section-conditions .sheet-conditions-group8 input.sheet-conditions-filter[type="hidden"][value="8"] ~ .sheet-conditions-row,
.sheet-section-conditions .sheet-conditions-group7 input.sheet-conditions-filter[type="hidden"][value="7"] ~ .sheet-conditions-row,
.sheet-section-conditions .sheet-conditions-group6 input.sheet-conditions-filter[type="hidden"][value="6"] ~ .sheet-conditions-row,
.sheet-section-conditions .sheet-conditions-group5 input.sheet-conditions-filter[type="hidden"][value="5"] ~ .sheet-conditions-row,
.sheet-section-conditions .sheet-conditions-group4 input.sheet-conditions-filter[type="hidden"][value="4"] ~ .sheet-conditions-row,
.sheet-section-conditions .sheet-conditions-group3 input.sheet-conditions-filter[type="hidden"][value="3"] ~ .sheet-conditions-row,
.sheet-section-conditions .sheet-conditions-group2 input.sheet-conditions-filter[type="hidden"][value="2"] ~ .sheet-conditions-row,
.sheet-section-conditions .sheet-conditions-group1 input.sheet-conditions-filter[type="hidden"][value="1"] ~ .sheet-conditions-row {
    display: flex;
}

/* === INVENTORY === */

.sheet-section-inventory{
    background-image: url(https://raw.github.com/milostuff/black-label-sheet/main/stroke1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    height: 875px;
}

.sheet-section-inventory input[type="number"]{
    width: 25%;
    text-align: center;

    margin-bottom: 2px
}


.sheet-section-inventory input[type="text"]{
    width: 64%;
    text-align: center;
}

/* === WEAPONS === */

.sheet-section-weapons select{
    width:20%
}

.sheet-section-weapons input{
    width:30%
}

.sheet-section-weapons textarea{
    height: 50px
}

.section-weapon{
    padding: 10px;
    margin-bottom: 10px;

    border: 15px solid transparent;
    border-image: url("https://raw.github.com/milostuff/black-label-sheet/main/border.png") 30;
}

/* === NOTES === */

.sheet-section-notes{
    background-image: url("https://raw.github.com/milostuff/black-label-sheet/main/sheets.png");
    background-size: 200px;
}

/* === ROLL TEMPLATE === */
.sheet-rolltemplate-level .sheet-rollTemplate,
.sheet-rolltemplate-weapons .sheet-rollTemplate,
.sheet-rolltemplate-inventory .sheet-rollTemplate,
.sheet-rolltemplate-skill .sheet-rollTemplate,
.sheet-rolltemplate-bonuses .sheet-rollTemplate,
.sheet-rolltemplate-keywords .sheet-rollTemplate,
.sheet-rolltemplate-consequence .sheet-rollTemplate {
    position: relative;
}

.sheet-rolltemplate-level .sheet-rollTemplate .sheet-header,
.sheet-rolltemplate-weapons .sheet-rollTemplate .sheet-header,
.sheet-rolltemplate-inventory .sheet-rollTemplate .sheet-header,
.sheet-rolltemplate-skill .sheet-rollTemplate .sheet-header,
.sheet-rolltemplate-bonuses .sheet-rollTemplate .sheet-header,
.sheet-rolltemplate-keywords .sheet-rollTemplate .sheet-header,
.sheet-rolltemplate-consequence .sheet-rollTemplate .sheet-header {
    margin-top: 5px;
}

.sheet-rolltemplate-level .sheet-fate-point-circle,
.sheet-rolltemplate-weapons .sheet-fate-point-circle,
.sheet-rolltemplate-inventory .sheet-fate-point-circle,
.sheet-rolltemplate-skill .sheet-fate-point-circle,
.sheet-rolltemplate-bonuses .sheet-fate-point-circle,
.sheet-rolltemplate-keywords .sheet-fate-point-circle,
.sheet-rolltemplate-consequence .sheet-fate-point-circle {
    border-radius: 15px;
    top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    right: 10px;
    display: block;
    position: absolute;
    background-color: gold;
}

.sheet-rolltemplate-level .sheet-fate-point-circle span,
.sheet-rolltemplate-weapons .sheet-fate-point-circle span,
.sheet-rolltemplate-inventory .sheet-bonus-circle span,
.sheet-rolltemplate-skill .sheet-fate-point-circle span,
.sheet-rolltemplate-bonuses .sheet-fate-point-circle span,
.sheet-rolltemplate-keywords .sheet-fate-point-circle span,
.sheet-rolltemplate-inventory .sheet-fate-point-circle span,
.sheet-rolltemplate-consequence .sheet-fate-point-circle span {
    line-height: 30px;
}

.sheet-rolltemplate-level .sheet-fate-point-circle + .sheet-header,
.sheet-rolltemplate-weapons .sheet-fate-point-circle + .sheet-header,
.sheet-rolltemplate-inventory .sheet-fate-point-circle + .sheet-header,
.sheet-rolltemplate-skill .sheet-fate-point-circle + .sheet-header,
.sheet-rolltemplate-bonuses .sheet-fate-point-circle + .sheet-header,
.sheet-rolltemplate-keywords .sheet-fate-point-circle + .sheet-header,
.sheet-rolltemplate-consequence .sheet-fate-point-circle + .sheet-header {
    margin-top: 16px;
}

.sheet-rolltemplate-level .sheet-uppercase,
.sheet-rolltemplate-weapons .sheet-uppercase,
.sheet-rolltemplate-inventory .sheet-uppercase,
.sheet-rolltemplate-skill .sheet-uppercase,
.sheet-rolltemplate-bonuses .sheet-uppercase,
.sheet-rolltemplate-keywords .sheet-uppercase,
.sheet-rolltemplate-consequence .sheet-uppercase {
    text-transform: uppercase;
}

.sheet-rolltemplate-level .sheet-warning,
.sheet-rolltemplate-weapons .sheet-warning,
.sheet-rolltemplate-inventory .sheet-warning,
.sheet-rolltemplate-skill .sheet-warning,
.sheet-rolltemplate-bonuses .sheet-warning,
.sheet-rolltemplate-keywords .sheet-warning,
.sheet-rolltemplate-consequence .sheet-warning {
    color: red;
}

.sheet-rolltemplate-level .sheet-warning::before,
.sheet-rolltemplate-weapons .sheet-warning::before,
.sheet-rolltemplate-inventory .sheet-warning::before,
.sheet-rolltemplate-skill .sheet-warning::before,
.sheet-rolltemplate-bonuses .sheet-warning::before,
.sheet-rolltemplate-keywords .sheet-warning::before,
.sheet-rolltemplate-consequence .sheet-warning::before {
    color: red;
    font-family: 'pictos';
    content: "!";
}
